@import 'vendor/_fonts.scss';
@import 'vendor/_wpcore.scss';
@import 'vendor/_font-awesome.scss';
@import 'bourbon/bourbon';
@import 'vendor/_normalize-2.1.0.scss';
@import 'vendor/_royalslider.scss';
@import 'vendor/_jquery.fancybox.scss';

$primary: #b80323;
$white: #fff;
$offWhite: #f1f1f1;
$lightGray: #9C9DA0;
$gray: #636366;
$darkGray: #4E4E4F;
$darkerGray: #353435;
$black: #000;

@font-face {
    font-family: TrendSans;
    src: url(TrendSans-One.otf);
}
@font-face {
    font-family: SourceCodePro;
    src: url(SourceCodePro-Light.otf);
}

.typed-cursor{
	color: #29cb4a;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

*{
	box-sizing: border-box;
	font-family: 'SourceCodePro', sans-serif;

	&:focus{
		outline: 0;
	}
}

h1, h2, h3, h4, h5, h6{
	font-family: 'SourceCodePro', sans-serif;
}

p{
	font-size: 18px;
	line-height: 1.4em;
}

a, a:visited{
	color: $black;
	text-decoration: none;
}

a:hover, a:active{
	text-decoration: underline;
}

html, body{
	margin: 0;
	padding: 0;
	cursor: default;
}

.hidden{ 
	display: none;
}

.gray{
  background: $darkerGray;
  color: $lightGray;
}

.red{
	color: $primary;
}

.trans{
	transition: 0.2s;
}

.innerWrapper{
	max-width: 1200px;
	width: 100%;
	padding: 0 50px;
	margin: 0 auto;
}

.col{ 
	float: left;

	&.full{ width: 100%; }
	&.right {
	  float: right !important;
	}
  	&.half{
	  width: 50%;
	}
}

.cf, .sub-menu, html, body{ 
	zoom: 1;

	&:before, &:after{ 
	    content: "";
	    display: table;
	}
	&:after{ 
		clear:both;
	}
}

nav{
	ul{
		padding: 0;
		margin: 0;

		li{
			display: inline-block;
		}
	}
}

header{ 
	&.main{
	  position: fixed;
	  top: 0px;
	  //background: $white;
	  z-index: 9999;
	  transition: 0.5s;

	  &.hidden{
			display: block !important;
			top: -70px !important;
		}

	  svg{
	  	width: 40px;
	  	height: auto;
	  	position: absolute;
	  	left: 15px;
	  	top: 15px;
	  	transition: 0.8s;
	  	-webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
    	transition-timing-function: ease-in-out;
	  	cursor: pointer;

	  	&.breathe{
	  		-webkit-animation: breathing 7s ease-out infinite normal;
    		animation: breathing 7s ease-out infinite normal;
	  	}

	  	polygon:hover{
	  		fill: #fff;
	  	}
	  }

		nav{
		  ul{
				text-align: right;
				li{
				  a{
					color: $gray;
					padding: 16px 30px;
					font-family: 'TrendSans', sans-serif;
					display: inline-block;
				  }
				}
		  }
		}
	}
	&.singleHeader{
		background: $darkerGray;
		padding: 25px;
		text-align: center;
		
		a{
			color: $white;
		}
	}
}

.single{
	#content{
		max-width: 1200px;
		margin: 0 auto;

		margin-bottom: 50px;
	}

	img{
		max-width: 850px;
		height: auto;
	}
}

section{

	padding: 120px 0;

	h1{
		text-align: center;
	}
	ul{
		padding-left: 0;
	}

	hr{
		height: 5px;
		background: $primary;
		border: solid 1px $primary;
	}

  .profile{
  	padding: 20px;
  	margin: 20px;
  	display: inline-block;
  	position: relative;

  	img{
  		max-width: 200px;
			//float: left;
			margin-right: 15px;
			border-radius: 9999px;
  	}
		p{
			float: left;
			max-width: 700px;
		}
		.console{

			background: #000;
			padding: 5px;
			border-radius: 3px;
			//width: 50%;
			margin: 0 auto;
			color: #29cb4a;
			font-size: 24px;
			padding-bottom: 200px;
		}
  }
  a{
  	color: $primary;
  	text-decoration: underline;
  }
  h2 i:before{
		font-size: 48px !important;
	}
  .col.half.gray{
  	padding-right: 50px;
  	a{
  		color: $primary;
  	}
  }
  h2{

		&.about{
			margin: 114px 0;
			text-align: center;
			
			#verb{
				color: $primary;
			}
		}
	}
  .table{
  	width: 100%;
  	display: inline-block;
  	margin-bottom: 15px;

  	.col{
  		width: 33%;
  		box-sizing: border-box;
  		padding: 0 50px;

  		h4{
			color: $offWhite;
			font-size: 14px;
			text-transform: uppercase;
			font-family: 'TrendSans', sans-serif;
			text-align: center;
		}
  		ul{
  			list-style-type: none;
  			text-align: center;

  			li{
  				font-family: 'Source Sans Pro', sans-serif;
  				text-shadow: 0 0 10px #000;
  				margin: 5px 0;
  			}
  		}
  	}
  	h4{
		margin-top: 0;
		margin-bottom: 18px;
	}
  }
  &.fixedImage{
  	background: #030403 url(http://acwd.me/wp-content/uploads/2015/02/ss.png) repeat-y fixed center center;
  	background-size: cover;
  	overflow: hidden;

  	h1{
  		margin: 18px 0;
  	}
  	li{
  		font-family: "SourceCodePro", sans-serif;
  	}
  	.col.double{
  		li{
  			float: left;
  			width: 50%;
  		}
  	}
  }
}

#Skills{
	background: $darkGray;
}

#About{
	p.right{
		a{
			display: inline-block;
			padding: 4px;
		}
	}
}

.work{
	.content{
		width: 100%;

		a{
			font-family: 'fontAwesome';
		}
	}
}

#canvas{
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  background: $darkerGray;
}
.title{
	h1, h2{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: $primary;
	text-align: center;
	margin-top: 15vh;
  }
  h2{
  	margin-top: calc(15vh + 42px);
  }
}
.scrollDown{
	position: absolute;
	margin-top: calc(15vh + 100px);
	width: 100%;
	text-align: center;
	font-size: 50px;
	pointer-events: all;

	a{
		color: $lightGray;
	}
}

.work{
	.royalSlider{
		position: relative;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 50px; /* height of thumbs (if not required set to 0) */
	    height: auto; // optionally add !important for WP version
	    width: auto;
	    overflow: hidden;

	    .rsOverflow{
	    	float: right;

	    	.rsContainer{
	    		.rsSlide{
	    			background: $white;
	    			img{
	    				max-width: 100%;
	    				height: auto;
	    				margin: 0 auto;
	    				display: block;
	    			}
	    			h2{
	    				text-align: center;
	    				font-family: "TrendSans", sans-serif;
	    				background: $offWhite;

	    				a{
	    					padding: 50px 0;
	    					width: 100%;
	    					display: block;
	    					color: $primary;
	    					//text-shadow: 0 1px 1px #000;
	    					font-size: 36px;
	    					font-family: "TrendSans", sans-serif;
	    					text-decoration: none;
	    				}
	    			}
	    			p{
	    				max-width: 600px;
	    				margin: 0 auto;
	    				float: none;

	    				&:last-child{
	    					margin-bottom: 15px;
	    				}
	    			}
	    		}
	    	}
	    }
	    
		.rsThumbs{
			width: 150px;
			margin: 50px 0;

			.rsThumb{
				width: 100%;

				&:hover{
					color: $primary;
				}

				&.rsNavSelected, &:hover{
					text-decoration: underline;
				}

				img{
					display: none;
					width: 150px;
					height: 150px;
				}
				.hidden{
					display: block !important;
				}
			}
		}
		.rsThumbsVer {
		    right: auto;
		    left: 0;
		}
	}
}

footer{ 
	&.main{ 
		background: $darkerGray;
		padding: 60px 0;
		display: inline-block;

		.innerWrapper{
			h2{
				margin-top: 0;
			}
			h2, a{
				color: $white;
			}
			.right{
				text-align: right;

				i{
					background: $white;
					border-radius: 9999px;
					color: $darkerGray;
					height: 35px;
					width: 35px;
					line-height: 36px;
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: 1080px) {
	header{
		&.main{
			position: absolute;
		}
	}
	section{
		.half.gray.right{
			padding: 0 25px;
		}
		#About{
			p.col.right{
				position: absolute;
				top: calc(50% - 100px);
				left: 150px;
			}
		}
		h1{
			font-size: 22px;
		}
		.table{
			display: inline-block;
			margin-bottom: 8px;
			width: 100%;

			.col{
				width: 100%;
				ul, h4{
					text-align: center;
				}
			}
		}
		.profile{
			top: 25px;
		}
	}

	#canvas{
		background: $darkerGray;
	}

	.work{
		.royalSlider{
		    .rsOverflow{
		    	.rsContainer{
		    		.rsSlide{
		    			img{
		    				max-width: 100%;
		    				height: auto;
		    			}
		    			h2{
		    				text-align: center;
		    			}
		    		}
		    	}
		    }
		    
			.rsThumbs{
				//float: right;
				width: 100%;

				.rsThumb{
					width: 150px;

					img{
						display: block !important;
						width: 150px;
						height: 150px;
					}
					.hidden{
						display: none !important;
					}
				}
			}
		}
	}

	footer{
		.col{
			&.half, &.half.right{
				width: 100% !important;
				text-align: center;

				a{
					text-align: center;
				}
			}
			&.half.right{
				margin-top: 15px;
				a{
					padding: 0;
				}
			}
			&.half{
				a{
					line-height: 40px;
					font-size: 16px;
					padding: 10px
				}
			}
			h2{
				display: none;
			}
		}
	}
}
@media (max-width: 900px) {
	.half{
		width: 100% !important;
	}
	header{
		&.main{
			nav{
				display: none;
			}
		}
	}
	.innerWrapper{
		padding: 0 15px;
	}
	section{
		.half.angled, .half.right{
			width: 100% !important;
		}
		.angled{
			position: relative;
			background: none;
			text-align: center;

			img{
				margin: 30px 0;
				display: inline-block;
				left: 0;
				float: none;
			}
		}
		&.col.full.gray{
			border-top: solid 1px $gray;
		}
		.profile{
			position: static;
			text-align: center;

			img{
				position: static !important;
				margin-top: 25px !important;
			}
		}
		.table{
			h4{
				margin-top: 18px;
			}
			.double{
				width: 100% !important;
			}
		}
	}
	.work{
		.royalSlider{
			.rsThumbs{
				.rsThumb{
					width: 75px;
					overflow: hidden;

					img{
						width: 75px;
						height: 75px;
					}
					p{
						font-size: 12px !important;
					}
					a{
						word-break: break-all;
					}
				}
			}
			.rsOverflow .rsContainer .rsSlide p a{
				left: calc(50% + 126px);
			}
		}
	}
}